body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #070724;
  background-image: url(./assets/images/background-stars.svg);
  background-repeat: repeat;
  background-size: cover;
  height: calc(100vh + env(safe-area-inset-top));
  padding-top: env(safe-area-inset-top);
  overflow-y: scroll;
}
